# ====================
# 📌 Python
# ====================
__pycache__/
*.py[cod]
*.pyo

# ====================
# 🐘 PostgreSQL / SQLite
# ====================
*.sqlite3
db.sqlite3

# ====================
# 🔐 Env
# ====================
.env
.env.*
.venv/
venv/
env/

# ====================
# ⚙️ Django
# ====================
# Статические файлы, собранные через collectstatic
staticfiles/

# Media — загружаемые пользователями файлы
media/

# ====================
# 📦 Node / Tailwind
# ====================
node_modules/
*.log

# ====================
# 🧠 VSCode / IDE
# ====================
.vscode/
.idea/

# ====================
# 💻 OS системные файлы
# ====================
.DS_Store
Thumbs.db

# ====================
# 📂 Специфичные папки
# ====================
# Если хранишь какие-то шаблоны в папке static/img
static/img/background/
static/img/default/
static/img/logo/
static/products/

# ====================
# 📄 Прочее
# ====================
structure.txt
url_adress_in_my_Gadjet_Shop.txt
