# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# SQLite
*.sqlite3
db.sqlite3

# Env
.env
.venv/
env/
venv/

# Django Admin Static
shop_project/static/admin/

# Node/Tailwind
node_modules/
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Media and user uploads
media/
static/img/background/
static/img/default/
static/img/logo/
static/products/

# Others
url adress in my Gadjet_Shop.txt
