{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Galaxy Market {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'products/styles.css' %}" />
  </head>
  <body
    class="min-h-screen bg-cover bg-center text-white"
    style="
      background-image: url('{% static 'img/background/background.png' %}');
    "
  >
    <!-- Навигация должна быть первой -->
    {% include 'navbar.html' %}

    <!-- Кнопка назад (если есть) -->
    {% block back_button %}{% endblock %}

    <!-- Сообщения Django -->
    {% if messages %}
    <ul class="text-center text-green-600 text-sm mb-4">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <!-- Контент -->
    <div class="p-6">
      {% block content %}<h1>Добро пожаловать в Galaxy Market!</h1>{% endblock %}
    </div>
  </body>
</html>
