{% extends "base.html" %} 
{% block back_button %}
<a href="javascript:history.back()" class="inline-block bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded mb-4">
  ⬅️ Назад
</a>
{% endblock %} {% block content %}

<div class="flex items-center justify-center px-4 mt-10 mb-10">
  <div class="lg:col-span-2 p-6 rounded-xl bg-black/30 backdrop-blur text-white border border-gray-700">
  <h1 class="text-4xl font-bold mb-4">❌ Оплата не прошла</h1>
  <p class="text-lg mb-6">
    Что-то пошло не так. Пожалуйста, попробуйте снова или свяжитесь с нами.
  </p>
  <a
    href="{% url 'products:index' %}"
    class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
  >
    ⬅ Вернуться на главную
  </a>
</div>

{% endblock content %}
