{% extends "base.html" %}

{% block back_button %}
<a href="javascript:history.back()" class="inline-block bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded mb-4">
  ⬅️ Назад
</a>
{% endblock %}

{% block content %}
<div class="flex items-center justify-center px-4 mt-10 mb-10">
  <div class="lg:col-span-2 p-6 rounded-xl bg-black/30 backdrop-blur text-white border border-gray-700 w-full max-w-2xl">

    <h2 class="text-2xl font-bold mb-6 text-green-400 text-center flex items-center justify-center">
      📦 <span class="ml-2">Мои заказы</span>
    </h2>

    {% if orders %}
      <ul class="space-y-4 max-h-[600px] overflow-y-auto pr-2 scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-800">
        {% for order in orders %}
          <li class="bg-gray-800 p-4 rounded-lg shadow border border-gray-700">
            <div class="text-green-300 font-semibold text-sm">
              Заказ #{{ order.order.id }}
            </div>
            <div class="text-gray-400 mt-1 italic text-sm">
              {{ order.total_quantity }} товар(а) — {{ order.order.created_at|date:"d.m.Y H:i" }}
            </div>
            <div class="mt-2">
            {% for item in order.items %}
              <div class="flex items-center justify-between mb-2">
                <span class="text-white">{{ item.product.name }}</span>
                <span class="text-green-400 font-semibold">
                  {{ item.quantity }} × {{ item.product.price|floatformat:2 }} $
                </span>
              </div>
            {% endfor %}
          </div>

            <div class="mt-4 border-t border-gray-600 pt-2">
              <div class="flex items-center justify-between">
                <span class="text-gray-300">Итого:</span>
                <span class="text-green-400 font-bold">
                  {{ order.order.total_price|floatformat:2 }} $
                </span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-center text-gray-300 text-sm">У вас пока нет заказов.</p>
    {% endif %}

    <div class="text-center mt-8">
      <a href="{% url 'products:index' %}" class="inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded">
        ⬅️ Вернуться на главную
      </a>
    </div>

  </div>
</div>
{% endblock %}
